---
import HeaderLink from "./HeaderLink.astro";

/*
    <HeaderLink href="/portfolio">Portfolio</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
*/
---

<nav class="sticky bottom-0 z-50">
  <div class="internal-links">
    <HeaderLink href="/">About Me</HeaderLink>
  </div>
  <div class="flex">
    <a href="https://mastodon.social/@BraveLilToaster" target="_blank">
      <span class="sr-only">Follow Blake on Mastodon</span>
      <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
        ><path
          fill="currentColor"
          d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
        ></path></svg
      >
    </a>
    <a
      href="https://www.linkedin.com/in/blake-levine-38a94ba5/"
      target="_blank"
    >
      <span class="sr-only">Follow Blake on Linkedin</span>
      <svg width="32" height="32" viewBox="0 0 25 25" aria-hidden="true">
        <path
          fill="currentColor"
          d="M22.4135 0.286332H2.38894C2.13084 0.274243 1.87287 0.313165 1.62983 0.400892C1.3868 0.488619 1.16345 0.623411 0.972565 0.797545C0.781694 0.971694 0.627033 1.18178 0.51746 1.41576C0.407888 1.64975 0.345534 1.90305 0.333984 2.16116V22.2294C0.349104 22.7695 0.570469 23.2835 0.952615 23.6655C1.33476 24.0477 1.84871 24.269 2.38894 24.2842H22.4135C22.9386 24.2608 23.4338 24.0325 23.7927 23.6484C24.1516 23.2643 24.3457 22.7549 24.3334 22.2294V2.16116C24.3378 1.90993 24.2907 1.66049 24.1951 1.4281C24.0996 1.19573 23.9575 0.985313 23.7777 0.809754C23.598 0.63421 23.3843 0.497243 23.1497 0.407236C22.9151 0.31723 22.6646 0.276088 22.4135 0.286332ZM7.83381 20.2945H4.33889V9.60052H7.83381V20.2945ZM6.16885 7.98063C5.92497 7.98913 5.68196 7.94711 5.45511 7.8572C5.22824 7.7673 5.02241 7.63146 4.85058 7.45821C4.67872 7.28496 4.54455 7.07806 4.45651 6.85048C4.36844 6.62291 4.32841 6.37958 4.33889 6.1358C4.32811 5.88937 4.36895 5.64342 4.45881 5.41372C4.54868 5.184 4.68556 4.97561 4.86069 4.80191C5.03582 4.62819 5.24532 4.49301 5.47576 4.40503C5.70622 4.31703 5.95251 4.27819 6.19885 4.29097C6.44273 4.28248 6.68574 4.32449 6.91259 4.41439C7.13946 4.50429 7.34529 4.64013 7.51712 4.81338C7.68898 4.98663 7.82315 5.19354 7.9112 5.42111C7.99926 5.64869 8.03929 5.89201 8.02881 6.1358C8.03959 6.38222 7.99875 6.62817 7.90889 6.85788C7.81902 7.08759 7.68214 7.29599 7.50701 7.46969C7.33188 7.6434 7.12238 7.77858 6.89194 7.86656C6.66148 7.95456 6.41519 7.99341 6.16885 7.98063ZM20.3435 20.2945H16.8336V14.4451C16.8336 13.0502 16.3386 12.0903 15.0936 12.0903C14.707 12.0936 14.3306 12.2164 14.0165 12.442C13.7023 12.6676 13.4656 12.9848 13.3387 13.3502C13.2412 13.6241 13.2004 13.9149 13.2187 14.2051V20.2945H9.76877V9.60052H13.2187V11.1004C13.5254 10.5369 13.9819 10.0692 14.5378 9.74886C15.0936 9.42864 15.7272 9.26828 16.3686 9.28551C18.6336 9.28551 20.3435 10.7854 20.3435 13.9801V20.2945Z"
        ></path>
      </svg>
    </a>
    <a href="https://github.com/BraveLilToaster" target="_blank">
      <span class="sr-only">Go to Blake's GitHub repo</span>
      <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>
  </div>
</nav>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px) brightness(60%);
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
</style>
