
---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../styles/tailwind.css";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex min-h-screen flex-1 flex-col">
    <main class="flex flex-1 flex-col">
      <slot />
    </main>
    <Header />
  </body>
</html>
